* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #F8F9FA;
  font-family: 'Open Sans', sans-serif; }

.margin-top-lg {
  margin-top: 6rem; }

.padding-top-lg {
  padding-top: 6rem; }

.projects {
  align-items: start;
  display: flex;
  flex: 0;
  flex-direction: column;
  min-height: 85vh; }

.project {
  position: relative;
  width: 35rem; }
  .project__img-container {
    height: 15rem; }
  .project__img {
    height: 100%; }
  .project__img--1 {
    left: 0;
    position: absolute;
    transition: all 1s ease;
    width: 100%; }
  .project__heading {
    margin-bottom: 2rem; }
  .project:not(:last-child) {
    margin-bottom: 3rem; }
  .project__link:target__img--1 {
    left: 75rem;
    width: 100%; }

.content {
  background-color: #E9ECEF;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 120rem;
  padding: 2rem; }

h1 {
  font-size: 3rem; }

h3 {
  font-size: 1.75rem; }
