.section-about {
  background-color: $color-grey-light-1;
  margin-top: -20vh;
  padding: 25rem 0;
}

.section-tours {
  background-color: $color-grey-light-1;
  margin-top: 10rem;
  padding: 25rem 0 50rem 0;
}
