/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.6; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: center; }
  .search__input {
    background-color: var(--color-grey-light-2);
    border: 0;
    border-radius: 100px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.25rem;
    padding: 0.7rem 2rem;
    transition: all 0.2s;
    width: 90%; }
    .search__input:focus {
      background-color: var(--color-grey-light-3);
      outline: none;
      width: 100%; }
    .search__input::placeholder, .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    fill: var(--color-grey-dark-3);
    height: 2rem;
    width: 2rem; }

.user-nav {
  align-items: center;
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 2rem; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    fill: var(--color-grey-dark-2);
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__notification {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 0.8rem;
    height: 1.75rem;
    justify-content: center;
    position: absolute;
    right: 1.1rem;
    top: 1.5rem;
    width: 1.75rem; }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem; }

.side-nav__icon {
  height: 1.75rem;
  width: 1.75rem; }

.legal {
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center; }

.container {
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem; }

.header {
  align-items: center;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: orangered;
  flex: 1;
  height: 80rem; }
