.card {
  height: 50rem;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  transform-style: preserve-3d;

  &__side {
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem $shadow-15;
    font-size: 2rem;
    height: 50rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.8s ease;
    width: 100%;

    &--front {
      background-color: $color-white;
    }
    
    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
