.feature-box {
    background-color: rgba($color-white, 0.8);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;

    &__icon {

    }

    &__text {

    }
}
