.popup {
    background-color: rgba($color-black, 0.8);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;

    &__content {
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        display: table;
        overflow: hidden;
        width: 75%;

        @include position-center-horizontal-and-vertical;
    }

    &__left {
        display: table-cell;
        vertical-align: middle;
        width: 33.33333%;
    }
    
    &__right {
        display: table-cell;        
        padding: 3rem 5rem;
        vertical-align: middle;
        width: 66.666667%;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        column-count: 2;
        -moz-column-count: 2;
        column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        -moz-column-rule: 1px solid $color-grey-light-2;
        font-size: 1.4rem;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        margin-bottom: 4rem;
    }
}
