.story {
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    font-size: $default-font-size;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    width: 75%;

    &__img {
        height: 100%;
    }

    &__shape {
        background-color: orangered;
        clip-path: circle(50% at 50% 50%);
        float: left;
        height: 15rem;
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        -webkit-clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        width: 15rem;
    }

    &__text {
        transform: skewX(12deg);
    }
}
