.story {
    background-color: rgba($color-white, 0.6);
    border-radius: $default-border-radius;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    font-size: $default-font-size;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    position: relative;
    transform: skewX(-12deg);
    width: 75%;

    @include respond(tab-port) {
      padding: 4rem;
      padding-left: 7rem;
      width: 100%;
    }
    
    @include respond(phone) {
      transform: skewX(0);
    }

    &__img {
      backface-visibility: hidden;
      height: 100%;
      transform: scale(1.4) translateX(-4.4rem);
      transition: all 0.5s;
    }

    &__shape {
      clip-path: circle(50% at 50% 50%);
      float: left;
      height: 15rem;
      shape-outside: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(12deg);
      -webkit-clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      width: 15rem;

      @include respond(phone) {
        transform: translateX(-3rem) skewX(0);
      }
    }

    &__text {
      transform: skewX(12deg);

      @include respond(phone) {
        transform: skewX(0);
      }
    }

    &__caption {
      backface-visibility: hidden;
      color: $color-white;
      font-size: 1.7rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      transform: translate(-50%, 20%);
      transition: all 0.5s;
    }

    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &:hover &__img {
      backface-visibility: hidden;
      filter: blur(3px) brightness(80%);
      transform: scale(1) translateX(-4rem);
    }
}
