.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  list-style: none;

  &__link:link,
  &__link:visited {
    color: #fff;
    display: block;
    font-family: $font-display;
    font-size: 1.4rem;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &__link:hover {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  color: $color-grey-light-2;
  font-size: 1.4rem;
  margin: 6rem auto 0 auto;
  text-align: center;
  width: 70%;
}
