.sidebar {
  background-color: $color-primary;
  display: flex;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  justify-content: center;
}

.nav-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;
  height: 2px;
  margin-top: 4rem;
  width: 4.5rem;

  &::before,
  &::after {
    background-color: #fff;
    content: '';
    display: block;
    height: 2px;
    width: 4.5rem;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  
  &::after {
    transform: translateY(1.3rem);
  }
}
