@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin position-center-horizontal-and-vertical {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
