.header {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero-small.jpg);
  background-position: top;
  background-size: cover;
  height: 85vh;
  position: relative;
  
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5rem),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem),
         (min-width: 125rem) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem;
  }
  
  &__logo {
    height: 3.5rem;
    
    &:hover {
      animation: pulse 1s linear infinite;
    }
  }

  &__text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40%;
  }
}
