.navigation {
    

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        border-radius: 50%;
        height: 7rem;
        position: fixed;
        right: 6rem;
        top: 6rem;
        width: 7rem;
        z-index: 2000;
    }

    &__background {
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        border-radius: 50%;
        height: 6rem;
        position: fixed;
        right: 6.5rem;
        top: 6.5rem;
        transform: scale(80);
        width: 6rem;
        z-index: 1000;
    }

    &__nav {
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1500;
    }
    
    &__list {
        @include position-center-horizontal-and-vertical;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            color: $color-white;
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
}
